.about h1 {
  position: relative;
}

.about h1::before {
  content: "";
  position: absolute;
  left: 20;
  height: 3px;
  bottom: -3px;
  width: 0;
  background-color: lightgreen;
  transition: all 0.5s;
}

.about h1:hover::before {
  width: 10%;
}
